footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

const gerente = document.querySelector('#gerente');

    gerente.addEventListener('change', function(){
        var selectedOption1 = this.options[gerente.selectedIndex];
    });

    const servicio = document.querySelector('#servicio');

    servicio.addEventListener('change', function(){
        var selectedOption2 = this.options[servicio.selectedIndex];
        
    });

    const sugerencia = document.querySelector('#sugerencia');

    sugerencia.addEventListener('keypress', function(){
        var opinion = sugerencia.value;
    });

    
    // Constructor
        function encuesta(gerente, servicio){
        this.gerente = gerente;
        this.servicio = servicio;
    }
    
    function interfaz(){}

    //EventListener
    const formulario = document.getElementById('FormularioEncuesta');
    formulario.addEventListener('submit', function(e){
        e.preventDefault();

    const gerente = document.getElementById('gerente')
    const gerenteSeleccionado = gerente.option[gerente.selectedIndex].value;
    console.log('gerenteSeleccionado');

      });
